<a href="https://colab.research.google.com/github/Ayanlola2002/KPMG-VIRTUAL_INTERNSHIP-/blob/master/KPMG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
Customer_address_data=pd.read_csv("Customer_address.csv")
Customer_demo_data=pd.read_csv("Customer_Demographics.csv")
Transaction_Data=pd.read_csv("Transaction.csv")
CData_copy=Customer_address_data.copy()
CDataDemo_copy=Customer_demo_data.copy()
TData_copy=Transaction_Data.copy()

In [0]:
#setting index to customer_id column
Customer_address_data.set_index('customer_id',inplace=True)

In [0]:
Customer_demo_data.set_index('customer_id',inplace=True)

In [0]:
Transaction_Data.set_index('transaction_id',inplace=True)

In [14]:
#checking Missing value in customer address
Customer_address_data.isnull().sum()

address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

In [15]:
#checking Missing value in customer address
Customer_demo_data.isnull().sum()

first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
default                                302
owns_car                                 0
tenure                                  87
dtype: int64

In [16]:
#checking Missing value in customer address
Transaction_Data.isnull().sum()

product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [19]:
print(Customer_address_data.shape)
print(Customer_demo_data.shape)
print(Transaction_Data.shape)

(3999, 5)
(4000, 12)
(20000, 12)

In [27]:
CDataDemo_copy['customer_id'].isin(CData_copy['customer_id']).value_counts()

True     3996
False       4
Name: customer_id, dtype: int64

In [0]:
#getting the actual columns
DataDiff=pd.merge(CDataDemo_copy,CData_copy,on="customer_id",how='outer',indicator='Exist')
DataDiff=DataDiff.loc[DataDiff['Exist'] !='both' ]

In [42]:
DataDiff

      customer_id first_name  ... property_valuation       Exist
2               3      Arlin  ...                NaN   left_only
9              10   Fiorenze  ...                NaN   left_only
21             22    Deeanne  ...                NaN   left_only
22             23       Olav  ...                NaN   left_only
4000         4001        NaN  ...               10.0  right_only
4001         4002        NaN  ...                7.0  right_only
4002         4003        NaN  ...                7.0  right_only

[7 rows x 19 columns]