<a href="https://colab.research.google.com/github/Ayanlola2002/KPMG-VIRTUAL_INTERNSHIP-/blob/master/KPMG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
Customer_address_data=pd.read_csv("Customer_address.csv")
Customer_demo_data=pd.read_csv("Customer_Demographics.csv")
Transaction_Data=pd.read_csv("Transaction.csv")
CData_copy=Customer_address_data.copy()
CDataDemo_copy=Customer_demo_data.copy()
TData_copy=Transaction_Data.copy()

In [0]:
#setting index to customer_id column
Customer_address_data.set_index('customer_id',inplace=True)
CData_copy.set_index('customer_id',inplace=True)

In [0]:
Customer_demo_data.set_index('customer_id',inplace=True)
CDataDemo_copy.set_index('customer_id',inplace=True)

In [0]:
Transaction_Data.set_index('transaction_id',inplace=True)
TData_copy.set_index('customer_id',inplace=True)

In [0]:
#important_indexes=Customer_demo_data.index.unique()
important_indexes=CDataDemo_copy.index.unique()

In [62]:
#use customer ID to extract the information from trasaction and customer Address
#Customer_address_data=Customer_address_data.loc[important_indexes]  
#Transaction_Data=Transaction_Data.loc[important_indexes]

CData_copy=CData_copy.loc[important_indexes]  
TData_copy=TData_copy.loc[important_indexes]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  This is separate from the ipykernel package so we can avoid doing imports until

In [0]:
#Customer_demo_data.index=Customer_demo_data.index.astype('int')
#Customer_demo_data.sort_index(inplace=True)

CDataDemo_copy.index=CDataDemo_copy.index.astype('int')
CDataDemo_copy.sort_index(inplace=True)

In [0]:
#Transaction_Data.index=Customer_demo_data.index.astype('int')
#Transaction_Data.sort_index(inplace=True)

TData_copy.index=TData_copy.index.astype('int')
TData_copy.sort_index(inplace=True)

In [67]:
#checking Missing value in customer address
CData_copy.isnull().sum()

address               4
postcode              4
state                 4
country               4
property_valuation    4
dtype: int64

In [68]:
#checking Missing value in customer address
CDataDemo_copy.isnull().sum()

first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
default                                302
owns_car                                 0
tenure                                  87
dtype: int64

In [69]:
#checking Missing value in customer address
TData_copy.isnull().sum()

transaction_id             507
product_id                 507
transaction_date           507
online_order               867
order_status               507
brand                      704
product_line               704
product_class              704
product_size               704
list_price                 507
standard_cost              704
product_first_sold_date    704
dtype: int64

In [70]:
#print(Customer_address_data.shape)
#print(Customer_demo_data.shape)
#print(Transaction_Data.shape)

print(CData_copy.shape)
print(CDataDemo_copy.shape)
print(TData_copy.shape)

(4000, 5)
(4000, 12)
(20504, 12)

In [76]:
CDataDemo_copy.index.isin(CData_copy.index).sum()

4000

In [0]:
#getting the actual columns
DataDiff=pd.merge(CDataDemo_copy,CData_copy,on="customer_id",how='outer',indicator='Exist')
DataDiff=DataDiff.loc[DataDiff['Exist'] !='both' ]

In [78]:
DataDiff

Empty DataFrame
Columns: [first_name, last_name, gender, past_3_years_bike_related_purchases, DOB, job_title, job_industry_category, wealth_segment, deceased_indicator, default, owns_car, tenure, address, postcode, state, country, property_valuation, Exist]
Index: []

In [80]:
#checking the number of distinct customer_id in the three dataset
print(CData_copy.index.nunique())
print(CDataDemo_copy.index.nunique())
print(TData_copy.index.nunique())

4000
4000
4000

In [81]:
#customer address summary statistics
CData_copy.describe()

          postcode  property_valuation
count  3996.000000         3996.000000
mean   2985.735485            7.514014
std     844.945641            2.825426
min    2000.000000            1.000000
25%    2200.000000            6.000000
50%    2768.000000            8.000000
75%    3750.000000           10.000000
max    4883.000000           12.000000

In [83]:
CDataDemo_copy.describe()

       past_3_years_bike_related_purchases       tenure
count                          4000.000000  3913.000000
mean                             48.890000    10.657041
std                              28.715005     5.660146
min                               0.000000     1.000000
25%                              24.000000     6.000000
50%                              48.000000    11.000000
75%                              73.000000    15.000000
max                              99.000000    22.000000

In [84]:
TData_copy.describe()

       transaction_id    product_id  ...    list_price  product_first_sold_date
count    19997.000000  19997.000000  ...  19997.000000             19800.000000
mean      9999.856078     45.371456  ...   1107.919641             38199.919747
std       5773.636854     30.750876  ...    582.818787              2875.056794
min          1.000000      0.000000  ...     12.010000             33259.000000
25%       5000.000000     18.000000  ...    575.270000             35667.000000
50%      10000.000000     44.000000  ...   1163.890000             38216.000000
75%      14999.000000     72.000000  ...   1635.300000             40672.000000
max      20000.000000    100.000000  ...   2091.470000             42710.000000

[8 rows x 5 columns]

In [85]:
#calculating perfcent of missing values
CData_copy.isnull().mean()*100

address               0.1
postcode              0.1
state                 0.1
country               0.1
property_valuation    0.1
dtype: float64

In [86]:
CDataDemo_copy.isnull().mean()*100

first_name                              0.000
last_name                               3.125
gender                                  0.000
past_3_years_bike_related_purchases     0.000
DOB                                     2.175
job_title                              12.650
job_industry_category                  16.400
wealth_segment                          0.000
deceased_indicator                      0.000
default                                 7.550
owns_car                                0.000
tenure                                  2.175
dtype: float64

In [87]:
TData_copy.isnull().mean()*100

transaction_id             2.472688
product_id                 2.472688
transaction_date           2.472688
online_order               4.228443
order_status               2.472688
brand                      3.433476
product_line               3.433476
product_class              3.433476
product_size               3.433476
list_price                 2.472688
standard_cost              3.433476
product_first_sold_date    3.433476
dtype: float64

In [88]:
#rows with null values for Customer address
CData_copy.isnull().any(axis=1).sum()

4

In [89]:
#percent rows with missing values customer Master or customer demographics data
sum(CDataDemo_copy.apply(lambda x: sum(x.isnull().values), axis = 1)>0)/CDataDemo_copy.shape[0]*100

34.25

In [90]:
#percentage of rows with missing values for transaction data
sum(TData_copy.apply(lambda x:sum(x.isnull().values),axis=1)>0)/TData_copy.shape[0]*100

5.17947717518533

In [0]:
#dropping null values row
CDataDemo_copy=CDataDemo_copy.dropna(how='any',axis=0)

In [0]:
CData_copy=CData_copy.dropna(how='any',axis=0)

In [0]:
TData_copy=TData_copy.dropna(how='any',axis=0)

In [94]:
CDataDemo_copy.isnull().sum()

first_name                             0
last_name                              0
gender                                 0
past_3_years_bike_related_purchases    0
DOB                                    0
job_title                              0
job_industry_category                  0
wealth_segment                         0
deceased_indicator                     0
default                                0
owns_car                               0
tenure                                 0
dtype: int64

In [95]:
CData_copy.isnull().sum()

address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

In [96]:
TData_copy.isnull().sum()

transaction_id             0
product_id                 0
transaction_date           0
online_order               0
order_status               0
brand                      0
product_line               0
product_class              0
product_size               0
list_price                 0
standard_cost              0
product_first_sold_date    0
dtype: int64

In [97]:
CDataDemo_copy['past_3_years_bike_related_purchases']

customer_id
1       93
2       81
3       61
9       97
10      49
        ..
3993     6
3994     5
3995    93
3996     8
3997    87
Name: past_3_years_bike_related_purchases, Length: 2630, dtype: int64

In [126]:
CDataDemo_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2630 entries, 1 to 3997
Data columns (total 12 columns):
first_name                             2630 non-null object
last_name                              2630 non-null object
gender                                 2630 non-null object
past_3_years_bike_related_purchases    2630 non-null int64
DOB                                    2630 non-null object
job_title                              2630 non-null object
job_industry_category                  2630 non-null object
wealth_segment                         2630 non-null object
deceased_indicator                     2630 non-null object
default                                2630 non-null object
owns_car                               2630 non-null object
tenure                                 2630 non-null float64
dtypes: float64(1), int64(1), object(10)
memory usage: 267.1+ KB

In [98]:
CDataDemo_copy['gender'].value_counts()

Female    1366
Male      1262
F            1
Femal        1
Name: gender, dtype: int64

In [128]:
CDataDemo_copy.loc['DOB']=pd.to_datetime(CDataDemo_copy.loc['DOB'])

KeyError: ignored

In [0]:
def ConvertGender(sex):
  Gender={
      'Female':'F',
      'Femal':'F',
      'F':'F',
      'Male':'M'}
  return Gender[sex]

In [0]:
#modifying the customer_demo_data dataframe
'''def Cust_demo_modefication(data1,data2):
  data1['Age']=(date.today().year)-data2['DOB']
  data1['Address']=data2['address']
  data1['postcode']=data2['postcode']
  data1['property_valuation']=data2['property_valuation']
  data1['state']=data2['state']
  data1.loc[data1.Sex=='Male','Sex']=data1.loc[data1.Sex=='Male','Sex'].apply(lambda x: x='M')
  data1.loc[data1.Sex=='Ms','Sex']=data1.loc[data1.Sex=='Ms','Sex'].apply(lambda x: x='M')
  data1.loc[data1.Sex=='Female','Sex']=data1.loc[data1.Sex=='Female','Sex'].apply(lambda x: x='F')
  data1.loc[data1.Sex=='Females','Sex']=data1.loc[data1.Sex=='Male','Sex'].apply(lambda x: x='M')
  return data1'''

SyntaxError: ignored

In [0]:
#modifying the customer_demo_data dataframe
from datetime import date
import datetime as dt
def Cust_demo_modefication(data1,data2):
  data1['Age']=(date.today().year-data1['DOB'])
  data1['Address']=data2['address']
  data1['postcode']=data2['postcode']
  data1['property_valuation']=data2['property_valuation']
  data1['state']=data2['state']
  data1['gender']=data1['gender'].apply(ConvertGender)

  return data1

In [125]:
CDataDemo_copy['DOB']

pandas.core.series.Series

In [122]:
CDataDemo_copy=Cust_demo_modefication(CDataDemo_copy,CData_copy)

AttributeError: ignored