<a href="https://colab.research.google.com/github/Ayanlola2002/KPMG-VIRTUAL_INTERNSHIP-/blob/master/KPMG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
Customer_address_data=pd.read_csv("Customer_address.csv")
Customer_demo_data=pd.read_csv("Customer_Demographics.csv")
Transaction_Data=pd.read_csv("Transaction.csv")
CData_copy=Customer_address_data.copy()
CDataDemo_copy=Customer_demo_data.copy()
TData_copy=Transaction_Data.copy()

In [0]:
#setting index to customer_id column
Customer_address_data.set_index('customer_id',inplace=True)

In [0]:
Customer_demo_data.set_index('customer_id',inplace=True)

In [0]:
Transaction_Data.set_index('transaction_id',inplace=True)

In [0]:
important_indexes=Customer_demo_data.index.unique()

In [9]:
#use customer ID to extract the information from trasaction and customer Address
Customer_address_data=Customer_address_data.loc[important_indexes]  
Transaction_Data=Transaction_Data.loc[important_indexes]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

In [0]:
Customer_demo_data.index=Customer_demo_data.index.astype('int')
Customer_demo_data.sort_index(inplace=True)

In [0]:
Transaction_Data.index=Customer_demo_data.index.astype('int')
Transaction_Data.sort_index(inplace=True)

In [0]:
#checking Missing value in customer address
Customer_address_data.isnull().sum()

address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

In [0]:
#checking Missing value in customer address
Customer_demo_data.isnull().sum()

first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
default                                302
owns_car                                 0
tenure                                  87
dtype: int64

In [0]:
#checking Missing value in customer address
Transaction_Data.isnull().sum()

product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [0]:
print(Customer_address_data.shape)
print(Customer_demo_data.shape)
print(Transaction_Data.shape)

(3999, 5)
(4000, 12)
(20000, 12)

In [0]:
CDataDemo_copy['customer_id'].isin(CData_copy['customer_id']).value_counts()

True     3996
False       4
Name: customer_id, dtype: int64

In [0]:
#getting the actual columns
DataDiff=pd.merge(CDataDemo_copy,CData_copy,on="customer_id",how='outer',indicator='Exist')
DataDiff=DataDiff.loc[DataDiff['Exist'] !='both' ]

In [0]:
DataDiff

      customer_id first_name  ... property_valuation       Exist
2               3      Arlin  ...                NaN   left_only
9              10   Fiorenze  ...                NaN   left_only
21             22    Deeanne  ...                NaN   left_only
22             23       Olav  ...                NaN   left_only
4000         4001        NaN  ...               10.0  right_only
4001         4002        NaN  ...                7.0  right_only
4002         4003        NaN  ...                7.0  right_only

[7 rows x 19 columns]

In [0]:
#checking the number of distinct customer_id in the three dataset
print(CData_copy['customer_id'].nunique())
print(CDataDemo_copy['customer_id'].nunique())
print(TData_copy['customer_id'].nunique())

3999
4000
3494

In [0]:
#customer address summary statistics
CData_copy.describe()

       customer_id     postcode  property_valuation
count  3999.000000  3999.000000         3999.000000
mean   2003.987997  2985.755939            7.514379
std    1154.576912   844.878364            2.824663
min       1.000000  2000.000000            1.000000
25%    1004.500000  2200.000000            6.000000
50%    2004.000000  2768.000000            8.000000
75%    3003.500000  3750.000000           10.000000
max    4003.000000  4883.000000           12.000000

In [0]:
CDataDemo_copy['customer_id'].describe()

count    4000.000000
mean     2000.500000
std      1154.844867
min         1.000000
25%      1000.750000
50%      2000.500000
75%      3000.250000
max      4000.000000
Name: customer_id, dtype: float64

In [0]:
TData_copy['customer_id'].describe()

count    20000.000000
mean      1738.246050
std       1011.951046
min          1.000000
25%        857.750000
50%       1736.000000
75%       2613.000000
max       5034.000000
Name: customer_id, dtype: float64

In [0]:
#calculating perfcent of missing values
CData_copy.isnull().mean()*100

customer_id           0.0
address               0.0
postcode              0.0
state                 0.0
country               0.0
property_valuation    0.0
dtype: float64

In [0]:
CDataDemo_copy.isnull().mean()*100

customer_id                             0.000
first_name                              0.000
last_name                               3.125
gender                                  0.000
past_3_years_bike_related_purchases     0.000
DOB                                     2.175
job_title                              12.650
job_industry_category                  16.400
wealth_segment                          0.000
deceased_indicator                      0.000
default                                 7.550
owns_car                                0.000
tenure                                  2.175
dtype: float64

In [0]:
TData_copy.isnull().mean()*100

transaction_id             0.000
product_id                 0.000
customer_id                0.000
transaction_date           0.000
online_order               1.800
order_status               0.000
brand                      0.985
product_line               0.985
product_class              0.985
product_size               0.985
list_price                 0.000
standard_cost              0.985
product_first_sold_date    0.985
dtype: float64

In [0]:
#rows with null values for Customer address
CData_copy.isnull().any(axis=1).sum()

0

In [0]:
#percent rows with missing values customer Master or customer demographics data
sum(CDataDemo_copy.apply(lambda x: sum(x.isnull().values), axis = 1)>0)/CDataDemo_copy.shape[0]*100

34.25

In [0]:
#percentage of rows with missing values for transaction data
sum(TData_copy.apply(lambda x:sum(x.isnull().values),axis=1)>0)/TData_copy.shape[0]*100

2.775

In [0]:
#modifying the customer_demo_data dataframe
def Cust_demo_modefication(data1,data2):
  data1['Age']=(date.today().year)-data2['DOB']
  data1['Address']=data2['address']
  data1['postcode']=data2['postcode']
  data1['property_valuation']=data2['property_valuation']
  data1['state']=data2['state']
  return data1